<app-header></app-header>
<div class="bgimage" style="width: 100%; height: 650px;">

    <div class="text-center bg">
        <h1 style="color: rgb(249, 244, 244);">About Us</h1>
        <p>Nurturing hopes and happiness</p>


        <div class="main-content" style="color :rgb(0, 0, 0)">
            <div class="left-content">
                <h3 style="margin-bottom: 10px; color: black;">Our Company</h3>
                <table>
                    <tr>
                        <td>25 Lakhs Families served and more</td>
                    </tr>
                    <tr>
                        <td>More than 12000 marketing intermediaries To guide </td>
                    </tr>
                    <tr>
                        <td>Rs 2 lakh crore And more is the loan book</td>
                    </tr>
                    <tr>
                        <td> 283 marketing offices Including one abroad</td>
                    </tr>
                    <tr>
                        <td>Online approvals Through our website </td>
                    </tr>
                    <tr>
                        <td>Rs 3.35 lakh crore And more cumulative disbursement since inception</td>
                    </tr>
                    <tr>
                        <td>Over the years widened our reach so as to be as close as possible to our customers</td>
                    </tr>

                </table>
            </div>
            <div class="right-content">
                <div>
                    <h3 style="margin-bottom: 10px; color: antiquewhite;">Contact</h3>
                    <p style="font-size: 20px"> Insurance management<br></p>
                </div>
                <table>
                    <tr>
                        <td class="d-flex"><i class="fa fa-star checked" style="margin: 5px 0px 0 0;"></i><span style="font-size: 20px">+91-9876543219</span></td>
                    </tr>
                    <tr>
                        <td class="d-flex"><i class="fa fa-star checked" style="margin: 5px 10px 0 0;"></i><span style="font-size: 20px">group4@Insure.com</span></td>
                    </tr>
                    <tr>
                        <td class="d-flex"><i class="fa fa-star checked" style="margin: 5px 10px 0 0;"></i><span style="font-size: 20px">www.group4insurance.com</span></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>