<nav>
    <h3>Insurance Management System </h3>
    <div class="nav_items" style="background-color: #565757;">
        <li><a routerLink="" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
        <li><a routerLink="/login" routerLinkActive="active">User</a></li>
        <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    </div>
</nav>